core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
"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",